@font-face {
    font-family: EccentricStd;
    font-family: Minimo;
    font-family: Raleway-Medium;
    font-family: MoongladeDemoBold-jOzM;
    src: url(./fonts/EccentricStd.otf);
    src: url(./fonts/Minimo.otf);
    src: url(./fonts/MoongladeDemoBold-jOzM.ttf);
    src: url(./fonts/Raleway-Medium.ttf);
}

* {
    font-family: MoongladeDemoBold-jOzM;
}

/*  navbar */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

.navbar {
    background-color: #131313;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: fixed;
    width: 100%;
    top: 0px;
    transition: top 0.3s;
    z-index: 1000;
}

.hide {
    top: -100px;
}

.fixed {
    position: fixed;
    top: 0px;
}

.nav--logo {
    width: 100px;
}

.navbar_container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

#navbar__logo {
    background-color: #ff8177;
    background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}

.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
}

.navbar__item {
    height: 80px;
}

.navbar__links {
    color: #fff;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 115px;
    text-decoration: none;
    height: 100%;
    transition: all 0.5s ease;
}

.navbar__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
}

.button {
    margin-top: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #833ab4;
    background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
    background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
    color: #fff;
    transition: all 0.3s ease;
}

.navbar__links:hover {
    color: #9518fc;
    transition: all 0.3s ease;
}

.input-box {
    position: relative;
    width: 50%;
    max-width: 50px;
    background-color: yellowgreen;
    height: 35px;
    /* margin: 0 0px; */
    border-radius: 6px;
    transition: all 0.5s ease-in-out;
}

.input-box.open {
    max-width: 300px;
}

.input-box input {
    position: relative;
    width: 100%;
    height: 100%;
    font-size: 16px;
    font-weight: 400;
    color: red;
    padding: 0 15px;
    border: none;
    border-radius: 6px;
    outline: none;
    transition: all 0.5s ease-in-out;
}

.input-box.open input {
    padding: 0 15px 0 65px;
}

.input-box .search {
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    border-radius: 6px;
    cursor: pointer;
}

.input-box.open .search {
    border-radius: 6px 0 0 6px;
}

.search .search-icon {
    font-size: 25px;
    color: white;
}

.input-box .close-icon {
    position: absolute;
    top: 50%;
    right: -45px;
    font-size: 30px;
    color: white;
    padding: 5px;
    transform: translateY(-50%);
    transition: all 0.5s ease-in-out;
    cursor: pointer;
    pointer-events: none;
    opacity: 0;
}

.input-box.open .close-icon {
    transform: translateY(-50%) rotate(180deg);
    pointer-events: auto;
    opacity: 1;
}

/* first section */

#FSNC_first_sec_main_div {
    width: 100%;
    height: 100vh;
    background-color: white;
    position: relative;
    z-index: 5;
}

.mycon {
    position: relative;
    width: 100%;
    height: 100vh;
    margin: 0px;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    margin: 0;
    opacity: 0;
    transition: 1s ease-in-out;
    overflow: hidden;
}

.first_slide_main_div {
    /* border: 1px solid red; */
    width: 100%;
    height: 100vh;
    background-image: url(./Images/sec1.jpg);
    background-size: cover;
    padding-top: 150px;
}

.first_slide_main_Sub_div {
    /* border: 1px solid red; */
    width: 45%;
    margin-left: 10%;
    color: white;
}

.give_some_border {
    border-left: 4px solid #07abf1;
    padding-left: 20px;
    margin-bottom: 40px;
}

.rptn_heading {
    color: #07abf1;
    font-size: 40px;
    word-spacing: 10px;
    letter-spacing: 2px;

}

.rptn_heading_ST {
    font-size: 20px;
    word-spacing: 10px;
    letter-spacing: 2px;
}

.slide img {
    width: 100%;
}

button {
    position: absolute;
    top: 50%;
    border: none;
    background: none;
    color: rgb(207, 188, 188);
    padding: 10px 16px;
    margin-top: -25px;
    font-size: 30px;
    z-index: 1000;
    font-weight: 900;
    transition: 0.5s ease-in-out;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}


button:hover {
    background: none;
}

.dots_container {
    display: flex;
    margin: 5px auto;
    width: fit-content;
}

.dots {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background: #bdbdbd;
    margin: 4px;
}

.dots:hover {
    background: #696969 !important;
}

@media screen and (max-width:600px) {
    .slide {
        height: fit-content;
    }

    .container {
        height: 200px;
    }

    button {
        top: 50%;
    }
}





/* second section */

#FSNC_second_sec_main_div {
    /* border: 1px solid red; */
    width: 100%;
    height: 100vh;
    font-family: 'MoongladeDemoBold-jOzM';
    background-color: #4dafcf;
    display: flex;
    background-image: url(./Images/think.png);
    background-repeat: no-repeat;
    background-position-y: 100px;
    position: relative;
    z-index: 5;
}

.FSNC_second_sub_div1 {
    /* border: 1px solid red; */
    width: 40%;
    box-sizing: border-box;
}

.sec2_hang_man {
    height: 100%;
    padding-left: 220px;
}

.FSNC_second_sub_div2 {
    /* border: 1px solid red;   */
    width: 50%;
    margin-left: 0%;
    text-align: end;
    color: white;
    margin-top: 150px;
}

.SSMAINHTEXT {
    border-right: 4px solid white;
    padding-right: 20px;
    font-size: 28px;
    font-weight: 400;
}

.FSNC_Headtext {
    font-size: 32px;
    word-spacing: 10px;
    word-spacing: 2px;
}

.FSNC_HEAD_TI {
    font-size: 40px;
}

.FSNC_normaltext {
    font-size: 18px;
    text-align: start;
    text-align: justify;
}


/* third section */


#FSNC_third_sec_main_div {
    /* border: 1px solid red; */
    width: 100%;
    height: 100vh;
    font-family: 'MoongladeDemoBold-jOzM';
    background-color: white;
    background-image: url(./Images/e.png);
    background-repeat: no-repeat;
    background-size: 240px;
    background-position-x: 50px;
    background-position-y: 80px;
    position: relative;
    z-index: 5;
}

.FSNC_TS_card_main_div1 {
    /* border: 1px solid red;   */
    width: 80%;
    margin-left: 10%;
    display: flex;
    box-sizing: border-box;
}

.FSNC_TS_sub_card {
    /* border: 1px solid yellow;  */
    width: 25%;
    margin-right: 3%;
    text-align: center;
}

.FSNC_third_sec_main_head {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    color: #07abf1;
    font-size: 50px;
}

.FSNC_TS_sub_card_head {
    font-size: 20px;
    font-weight: bold;
}

.lightman_img_div {
    /* border: 1px solid red;  */
    width: 45%;
}

.lightman_img {
    position: absolute;
    height: 100%;
    top: 0px;
    left: -5px;
}

.comdiv_img_text {
    /* border: 1px solid red;  */
    display: flex;
}

.FSNC_TS_card_main_div2 {
    /* border: 1px solid yellowgreen; */
    width: 45%;
    margin-left: 0%;
    height: 400px;
    text-align: center;
    padding-top: 30px;
}



.FSNC_TS_small_card {
    /* border: 1px solid yellowgreen; */
    display: flex;
    flex-wrap: wrap;
    width: 85%;
    margin-left: 15%;
    margin-top: 50px;
}

.FSNC_TS_small_card_sub {
    /* border: 1px solid red; */
    width: 45%;
    height: 50px;
    background-color: #07abf1;
    box-sizing: border-box;
    padding-top: 10px;
    color: white;
    font-size: 20px;
    margin-bottom: 50px;
}

.MLSC {
    margin-right: 10%;
}


/* fourth section */

#FSNC_fourth_sec_main_div {
    /* border: 1px solid red; */
    width: 100%;
    height: 100vh;
    font-family: 'MoongladeDemoBold-jOzM';
    background-color: black;
    padding-top: 60px;
    position: relative;
    z-index: 5;
}

.FSNC_fourth_sec_subdiv1 {
    border-left: 4px solid #07abf1;
    padding-left: 20px;

    margin-left: 300px;
    /* border: 1px solid red; */
}

.FSNC_fourth_sec_subdiv1_head {
    color: #07abf1;

}

.FSNC_fourth_sec_subdiv1_text {
    color: white;
    font-size: 18px;
    word-spacing: 5px;
    letter-spacing: 2px;
}


.FSNC_fourth_sec_subdiv2 {
    /* border: 1px solid red;  */
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin-left: 10%;
    margin-top: 50px;
}


.FSNC_fourth_sec_carddiv {
    /* border: 1px solid red;  */
    width: 47.5%;
    color: white;
    padding: 20px;
    margin-bottom: 60px;
    background-color: #282424;
    text-align: center;
    border-radius: 20px;
}

.fsclm {
    margin-right: 5%;
}

.emp {
    font-size: 20px;
}


/* fifth section */

#FSNC_fifth_sec_main_div {
    /* border: 1px solid red; */
    width: 100%;
    height: 100vh;
    font-family: 'MoongladeDemoBold-jOzM';
    background-color: white;
    box-sizing: border-box;
    padding-top: 20px;
    position: relative;
    z-index: 5;
    background-image: url(./Images/cloud.png);
    background-size: 100%;
}

.FSNC_fifth_sec_head_section {
    border-left: 4px solid #07abf1;
    padding-left: 20px;
    margin-left: 10%;

}

.FSNC_fifth_sec_heading {
    color: #07abf1;
}

.FSNC_fifth_sec_head_ST {
    color: black;
    font-size: 18px;
    word-spacing: 5px;
    letter-spacing: 2px;
}

.card_img_adjust {
    /* border: 1px solid red; */
    display: flex;
}

.add_lap_key_img {
    /* border: 1px solid yellow; */
    width: 40%;
}

.man_laptop {
    width: 55%;
    margin-left: 100px;
    margin-top: 100px;

}

.flip_card_main_div {
    /* border: 1px solid yellow; */
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    margin-left: 10%;
    margin-top: 50px;
}

.card {
    width: 47.5%;
    height: 250px;
    perspective: 1000px;
    background-color: none;
}

.cardml {
    margin-right: 5%;
}

.cardpb {
    margin-top: 40px;
}

.card-front,
.card-back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    transition: transform 0.5s;
    background-color: #07abf1;
    border-radius: 10px;
}

.card-front {
    transform: rotateY(0);
}

.card-back {
    transform: rotateY(180deg);
}

.card:hover .card-front {
    transform: rotateY(-180deg);
}

.card:hover .card-back {
    transform: rotateY(0);
}

/* sixth section */

#FSNC_sixth_sec_main_div {
    /* border: 1px solid red; */
    width: 100%;
    height: auto;
    font-family: 'MoongladeDemoBold-jOzM';
    background-color: #07abf1;
    box-sizing: border-box;
    padding-top: 20px;
    padding-bottom: 1px;
    position: relative;
    z-index: 5;

}

.FSNC_sixth_sec_three_card {
    /* border: 1px solid red; */
    width: 80%;
    margin-left: 10%;
    display: flex;
    flex-wrap: wrap;
}

.FSNC_sixth_sec_three_card_sub {
    /* border: 1px solid yellow; */
    width: 30%;
    background-color: white;
}

.JAURI {
    margin-right: 5%;
}

.three_card_img {
    width: 100%;
}

.one_side_border {
    text-align: end;
    border-right: 4px solid black;
    font-size: 20px;
    padding-right: 20px;
    padding-left: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 10px;

}

.unemp {
    text-align: justify;
    padding-left: 15px;
    padding-right: 15px;
}

.FSNC_sixth_sec_main_head {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    font-size: 30px;
    word-spacing: 10px;
    letter-spacing: 2px;
}

.make_bold {
    font-size: 40px;
}

.BR1 {
    border-radius: 0PX 0PX 0PX 50PX;
}

.BR2 {
    border-radius: 0PX 0PX 50PX 0PX;
}

.Email_readmore {
    /* border: 1px solid red; */
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 80%;
    margin-left: 10%;
    justify-content: space-between;
}

.enter_email {
    /* border: 1px solid yellow; */
    background-color: white;
    width: 35%;
    height: 50px;
    box-sizing: border-box;
    padding-left: 20px;
    padding-top: 10px;
}

.readmore {
    /* border: 1px solid yellow; */
    width: 22%;
    padding-top: 12px;
    padding-left: 50px;
    background-color: white;
    border-radius: 0px 50px 0px 50px;
}

input {
    border: none;
    width: 80%;
}

.arbtn {
    /* border: 1px solid red; */
    border: none;
    font-size: 20px;
    background-color: white;
    color: black;
    margin-top: 300px;
}


/* right arrow animation */

.vis_arrow_right {
    position: relative;
    transform: rotate(270deg);
    left: 15px;
    bottom: 120PX;
}

.vis_arrow_right span {
    display: block;
    width: 1rem;
    height: 1rem;
    border-bottom: 2px solid rgb(8, 8, 8);
    border-right: 2px solid rgb(15, 14, 14);
    transform: rotate(90deg);
    margin: -10px;
    animation: animate 2s infinite;
}

.vis_arrow_right span:nth-child(2) {
    animation-delay: -0.2s;
}

.vis_arrow_right span:nth-child(3) {
    animation-delay: -0.4s;
}

@keyframes animate {
    0% {
        opacity: 0;
        transform: rotate(45deg) translate(-20px, -20px);
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: rotate(45deg) translate(20px, 20px);
    }
}

/* footer */

.gototop:hover {
    cursor: pointer;
}

.com_logo {
    width: 100px;
}

.anything {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    margin-left: 20px;
}

.anything:hover {
    background-color: black;
    text-decoration: none;
    transform: scale(1.1);
    box-shadow: 0 0 15px #fa3307;
    color: white;
    text-shadow: 0 0 5px #ffee10;
}

.icon_div {
    display: flex;
}

.footer--logo:hover {
    text-decoration: none;
}

.footer--head {
    color: #3aa6ca;
}

.footer--links {
    color: white;
}

.footer--links:hover {
    text-decoration: none;
    background: linear-gradient(to right, #07abf1 50%, #07ec90 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.Aline_text {
    width: 100%;
    height: auto;
    position: sticky;
    bottom: 0px;
    z-index: 1;
    text-align: center;
}


/* ***************** media query ********************** */

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

    /* navbar */

    .navbar_container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }

    .navbar__menu {
        display: grid;
        grid-template-columns: auto;
        width: 100%;
        margin: 0;
        position: absolute;
        top: -1000px;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: -1;
        left: 0;
    }

    .navbar__menu.active {
        background: #131313;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 60vh;
        font-size: 1.6rem;
    }

    #navbar__logo {
        padding-left: 25px;
    }

    .navbar__toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #fff;
    }

    .navbar__item {
        width: 100%;
    }

    .navbar__links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    .navbar__btn {
        padding-bottom: 2rem;
    }

    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 80px;
        margin: 0;
    }

    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .navbar__toggle .bar {
        display: block;
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .input-box {
        position: relative;
        width: 50%;
        max-width: 50px;
        background-color: black;
        height: 35px;
        /* margin: 0 0px; */
        border-radius: 6px;
        transition: all 0.5s ease-in-out;
    }

    .input-box.open {
        max-width: 300px;
    }

    .input-box input {
        position: relative;
        width: 100%;
        height: 100%;
        font-size: 16px;
        font-weight: 400;
        color: red;
        padding: 0 0px;
        border: none;
        border-radius: 6px;
        outline: none;
        transition: all 0.5s ease-in-out;
    }

    .input-box.open input {
        padding: 0 15px 0 65px;
    }

    .input-box .search {
        position: absolute;
        top: 0;
        left: 0;
        width: 50px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: black;
        border-radius: 6px;
        cursor: pointer;
        margin-top: 5px;
    }

    .input-box.open .search {
        border-radius: 6px 0 0 6px;
    }

    .search .search-icon {
        font-size: 25px;
        color: white;
    }

    .input-box .close-icon {
        position: absolute;
        top: 50%;
        right: -45px;
        font-size: 30px;
        color: white;
        padding: 5px;
        transform: translateY(-50%);
        transition: all 0.5s ease-in-out;
        cursor: pointer;
        pointer-events: none;
        opacity: 0;
    }

    .input-box.open .close-icon {
        transform: translateY(-50%) rotate(180deg);
        pointer-events: auto;
        opacity: 1;
    }

    /* first section */

    #FSNC_first_sec_main_div {

        height: auto;
    }

    .mycon {
        height: 1000px;
    }

    .slide {
        height: auto;
    }

    .first_slide_main_div {
        /* border: 1px solid red; */
        width: 100%;
        height: auto;
        background-color: #131313;
        background-image: none;
        padding-bottom: 50px;
    }

    .first_slide_main_Sub_div {
        /* border: 1px solid red; */
        width: 90%;
        margin-left: 5%;
        color: white;

    }

    .give_some_border {
        border-left: 4px solid #07abf1;
        padding-left: 20px;
        margin-bottom: 40px;
    }

    .rptn_heading {
        color: #07abf1;
        font-size: 40px;
        word-spacing: 10px;
        letter-spacing: 2px;

    }

    .rptn_heading_ST {
        font-size: 20px;
        word-spacing: 10px;
        letter-spacing: 2px;
    }

    .slide img {
        width: 100%;
    }

    button {
        position: absolute;
        top: 50%;
        border: none;
        background: none;
        color: rgb(207, 188, 188);
        padding: 10px 16px;
        margin-top: -25px;
        font-size: 30px;
        z-index: 1000;
        font-weight: 900;
        transition: 0.5s ease-in-out;
    }

    .prev {
        left: 0;
    }

    .next {
        right: 0;
    }

    button:hover {
        background: none;
    }

    .dots_container {
        display: flex;
        margin: 5px auto;
        width: fit-content;
    }

    .dots {
        height: 12px;
        width: 12px;
        border-radius: 50%;
        background: #bdbdbd;
        margin: 4px;
    }

    .dots:hover {
        background: #696969 !important;
    }

    @media screen and (max-width:600px) {
        .slide {
            height: fit-content;
        }

        .container {
            height: auto;
        }

        button {
            top: 50%;
        }
    }

    /* second section */

    #FSNC_second_sec_main_div {
        /* border: 1px solid red; */
        width: 100%;
        height: auto;
        font-family: 'MoongladeDemoBold-jOzM';
        background-color: #4dafcf;
        display: block;
        background-image: none;
        background-repeat: no-repeat;
        background-position-y: 100px;
        position: relative;
        z-index: 5;
    }

    .FSNC_second_sub_div1 {
        /* border: 1px solid red; */
        width: 100%;
        box-sizing: border-box;
    }

    .sec2_hang_man {
        display: none;
    }

    .FSNC_second_sub_div2 {
        /* border: 1px solid red; */
        width: 100%;
        margin-right: 0%;
        text-align: end;
        color: white;
        margin-top: 00px;
        padding-top: 100px;
    }

    .SSMAINHTEXT {
        border-right: 4px solid white;
        padding-right: 10px;
        font-size: 28px;

        margin-right: 10px;
    }

    .approach {
        font-size: 20px;
    }

    .FSNC_Headtext {
        font-size: 25px;
        word-spacing: 10px;
        word-spacing: 2px;
    }

    .FSNC_HEAD_TI {
        font-size: 32px;
    }

    .FSNC_normaltext {
        font-size: 16px;
        padding: 0px 15px 0px 15px;
        padding-bottom: 50px;
    }


    /* third section */

    #FSNC_third_sec_main_div {
        /* border: 1px solid red; */
        width: 100%;
        height: auto;
        background-image: none;
    }

    .FSNC_TS_card_main_div1 {
        /* border: 1px solid red;   */
        width: 90%;
        margin-left: 5%;
        display: block;
    }

    .FSNC_TS_sub_card {
        /* border: 1px solid yellow;  */
        background-color: rgb(231, 230, 230);
        border-radius: 0px 20px 0px 20px;
        color: black;
        width: 100%;
        margin-right: 0%;
        text-align: center;
        margin-bottom: 10px;
        padding: 15px;
    }

    .FSNC_third_sec_main_head {
        padding-top: 30px;
        padding-bottom: 30px;
        text-align: center;
        color: #07abf1;
        font-size: 40px;
    }

    .lightman_img_div {
        display: none;
    }

    .productive {
        font-size: 25px;
        width: 90%;
        margin-left: 5%;
    }

    .weutilize {
        font-size: 18px;
        width: 90%;
        margin-left: 5%;
        text-align: justify;
    }

    .comdiv_img_text {
        /* border: 1px solid red;  */
        display: block;
    }

    .FSNC_TS_card_main_div2 {
        /* border: 1px solid yellowgreen; */
        width: 100%;
        margin-left: 0%;
        height: auto;
        text-align: center;
        padding-top: 30px;
    }

    .FSNC_TS_small_card {
        /* border: 1px solid yellowgreen; */
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        margin-left: 0%;
        margin-top: 50px;
    }

    .FSNC_TS_small_card_sub {
        /* border: 1px solid red; */
        width: 90%;
        margin-left: 5%;
        height: 50px;
        background-color: #07abf1;
        box-sizing: border-box;
        padding-top: 10px;
        color: white;
        font-size: 20px;
        margin-bottom: 50px;
    }

    .MLSC {
        margin-right: 0%;
    }


    /* fourth section */

    #FSNC_fourth_sec_main_div {
        /* border: 1px solid red; */
        width: 100%;
        height: auto;
        font-family: 'MoongladeDemoBold-jOzM';
        background-color: black;
        padding-top: 60px;
        position: relative;
        z-index: 5;
    }

    .FSNC_fourth_sec_subdiv1 {
        border-left: 4px solid #07abf1;
        padding-left: 20px;
        margin-left: 10px;
        /* border: 1px solid red; */
    }

    .FSNC_fourth_sec_subdiv1_head {
        color: #07abf1;
        font-size: 25px;
    }

    .FSNC_fourth_sec_subdiv1_text {
        color: white;
        font-size: 15px;
        word-spacing: 0px;
        letter-spacing: 0px;
    }


    .FSNC_fourth_sec_subdiv2 {
        /* border: 1px solid red;  */
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        margin-left: 0%;
        margin-top: 50px;
    }


    .FSNC_fourth_sec_carddiv {
        /* border: 1px solid red;  */
        width: 90%;
        margin-left: 5%;
        color: white;
        padding: 20px;
        margin-bottom: 30px;
        background-color: #282424;
        text-align: center;
        border-radius: 20px;
    }

    .fsclm {
        margin-right: 5%;
    }

    .emp {
        font-size: 20px;
    }

    .emp_text {
        font-size: 14px;
        text-align: justify;
    }

    /* fifth section */

    #FSNC_fifth_sec_main_div {
        /* border: 1px solid red; */
        width: 100%;
        height: auto;
        padding-top: 20px;
        position: relative;
        z-index: 5;
        background-image: none;
    }

    .FSNC_fifth_sec_head_section {
        padding-left: 10px;
        margin-left: 10px;
    }

    .FSNC_fifth_sec_heading {
        font-size: 30px;
    }

    .FSNC_fifth_sec_head_ST {
        font-size: 16px;
        word-spacing: 0px;
        letter-spacing: 0px;
        padding-right: 20px;
    }

    .card_img_adjust {
        /* border: 1px solid red; */
        display: block;
    }

    .add_lap_key_img {
        /* border: 1px solid yellow; */
        display: none;
    }

    .flip_card_main_div {
        /* border: 1px solid yellow; */
        display: flex;
        flex-wrap: wrap;
        width: 90%;
        margin-left: 5%;
        margin-top: 0px;
    }

    .card {
        width: 100%;
        height: 250px;
        perspective: 1000px;
        background-color: none;
        margin-bottom: 20px;
    }

    .cardml {
        margin-right: 0%;
    }

    .cardpb {
        margin-top: 0px;
    }


    /* sixth section */

    #FSNC_sixth_sec_main_div {
        /* border: 1px solid red; */
        width: 100%;
        height: auto;
        padding-top: 20px;
        padding-bottom: 1px;
    }

    .FSNC_sixth_sec_three_card {
        /* border: 1px solid red; */
        width: 100%;
        margin-left: 0%;
        display: block;
        flex-wrap: wrap;
    }

    .FSNC_sixth_sec_three_card_sub {
        /* border: 1px solid yellow; */
        width: 90%;
        margin-left: 5%;
        background-color: white;
    }

    .JAURI {
        margin-right: 5%;
    }

    .three_card_img {
        width: 100%;
    }

    .one_side_border {
        text-align: end;
        border-right: 3px solid black;
        font-size: 18px;
        padding-right: 10px;
        padding-left: 10px;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-right: 10px;
    }

    .unemp {
        text-align: justify;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 20px;
        font-size: 14px;
    }

    .FSNC_sixth_sec_main_head {
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 22px;
        word-spacing: 5px;
        letter-spacing: 1px;
    }

    .make_bold {
        font-size: 30px;
    }

    .BR1 {
        border-radius: 0PX 0PX 0PX 0PX;
    }

    .BR2 {
        border-radius: 0PX 0PX 0PX 0PX;
    }

    .Email_readmore {
        /* border: 1px solid red; */
        display: block;
        margin-top: 50px;
        margin-bottom: 50px;
        width: 90%;
        margin-left: 5%;
        justify-content: space-between;
    }

    .enter_email {
        /* border: 1px solid yellow; */
        background-color: white;
        width: 100%;
        height: 50px;
        box-sizing: border-box;
        padding-left: 20px;
        padding-top: 10px;
        margin-bottom: 20px;
    }

    .readmore {
        /* border: 1px solid yellow; */
        width: 100%;
        padding-top: 12px;
        padding-left: 50px;
        background-color: white;
        border-radius: 0px 50px 0px 50px;
    }

    input {
        border: none;
        width: 80%;
    }

    .arbtn {
        /* border: 1px solid red; */
        border: none;
        font-size: 18px;
        background-color: white;
        color: black;
        margin-top: 719px;
    }


    /* right arrow animation */

    .vis_arrow_right {
        position: relative;
        transform: rotate(270deg);
        left: 15px;
        bottom: 158PX;
    }


    /* footer */
    .anything:hover {
        background-color: #3aa6ca;
        text-decoration: none;
    }

    .icon_div {
        display: flex;
    }

    .footer--logo:hover {
        text-decoration: none;
    }

    .footer--head {
        color: #3aa6ca;
    }

    .footer--links {
        color: white;
    }

    .footer--links:hover {
        color: #bf3030 !important;
        text-decoration: none;
    }

    .icon_div {
        display: flex;
        justify-content: center;
    }

    .Aline_text {
        box-sizing: border-box;
        text-align: center;
        padding-top: 70px;
    }

    .Logo_footer {
        position: absolute;
        top: -510px;
        right: 35%;
    }

}


/* ***************** media query 2 ********************** */

@media only screen and (min-device-width : 480px) and (max-device-width : 1440px) {


    /* navbar */

    .navbar_container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }

    .navbar__menu {
        display: grid;
        grid-template-columns: auto;
        width: 100%;
        margin: 0;
        position: absolute;
        top: -1000px;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: -1;
        left: 0;
    }

    .navbar__menu.active {
        background: #131313;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 60vh;
        font-size: 1.6rem;
    }

    #navbar__logo {
        padding-left: 25px;
    }

    .navbar__toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #fff;
    }

    .navbar__item {
        width: 100%;
    }

    .navbar__links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;

    }

    .navbar__btn {
        padding-bottom: 2rem;
    }

    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 80px;
        margin: 0;
    }

    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .navbar__toggle .bar {
        display: block;
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }


    /* first section */

    #FSNC_first_sec_main_div {

        height: auto;
    }

    .mycon {
        height: 650px;
    }

    .slide {
        height: auto;
    }

    .first_slide_main_div {
        /* border: 1px solid red; */
        width: 100%;
        height: auto;
        background-color: #131313;
        background-image: none;
        padding-bottom: 50px;
    }

    .first_slide_main_Sub_div {
        /* border: 1px solid red; */
        width: 90%;
        margin-left: 5%;
        color: white;

    }

    .give_some_border {
        border-left: 4px solid #07abf1;
        padding-left: 20px;
        margin-bottom: 40px;
    }

    .rptn_heading {
        color: #07abf1;
        font-size: 40px;
        word-spacing: 10px;
        letter-spacing: 2px;

    }

    .rptn_heading_ST {
        font-size: 20px;
        word-spacing: 10px;
        letter-spacing: 2px;
    }

    .slide img {
        width: 100%;
    }

    button {
        position: absolute;
        top: 50%;
        border: none;
        background: none;
        color: rgb(207, 188, 188);
        padding: 10px 16px;
        margin-top: -25px;
        font-size: 30px;
        z-index: 1000;
        font-weight: 900;
        transition: 0.5s ease-in-out;
    }

    .prev {
        left: 0;
    }

    .next {
        right: 0;
    }

    button:hover {
        background: none;
    }

    .dots_container {
        display: none;
    }

    .dots {
        height: 12px;
        width: 12px;
        border-radius: 50%;
        background: #bdbdbd;
        margin: 4px;
    }

    .dots:hover {
        background: #696969 !important;
    }

    @media screen and (max-width:1440px) {
        .slide {
            height: fit-content;
        }

        .container {
            height: auto;
        }

        button {
            top: 50%;
        }
    }

    /* second section */

    #FSNC_second_sec_main_div {
        /* border: 1px solid red; */
        width: 100%;
        height: auto;
        display: block;
        background-image: none;
    }

    .FSNC_second_sub_div1 {
        /* border: 1px solid red; */
        width: 100%;
        box-sizing: border-box;
    }

    .sec2_hang_man {
        display: none;
    }

    .FSNC_second_sub_div2 {
        /* border: 1px solid red; */
        width: 100%;
        margin-right: 0%;
        text-align: end;
        color: white;
        margin-top: 00px;
        padding-top: 100px;
    }

    .SSMAINHTEXT {
        border-right: 4px solid white;
        padding-right: 10px;
        font-size: 40px;
        margin-right: 10px;
        margin-bottom: 50px;
    }

    .approach {
        font-size: 20px;
    }

    .FSNC_Headtext {
        font-size: 30px;
        word-spacing: 10px;
        word-spacing: 2px;
    }

    .FSNC_HEAD_TI {
        font-size: 40px;
    }

    .FSNC_normaltext {
        font-size: 16px;
        padding: 0px 15px 0px 15px;
        padding-bottom: 100px;
        margin-bottom: 0px;
    }


    /* third section */

    #FSNC_third_sec_main_div {
        /* border: 1px solid red; */
        width: 100%;
        height: auto;
        background-image: none;
    }

    .FSNC_TS_card_main_div1 {
        /* border: 1px solid red;   */
        width: 90%;
        margin-left: 5%;
        display: block;
    }

    .FSNC_TS_sub_card {
        /* border: 1px solid yellow;  */
        background-color: rgb(231, 230, 230);
        border-radius: 0px 20px 0px 20px;
        color: black;
        width: 100%;
        margin-right: 0%;
        text-align: center;
        margin-bottom: 10px;
        padding: 15px;
    }

    .FSNC_third_sec_main_head {
        padding-top: 35px;
        padding-bottom: 30px;
        text-align: center;
        color: #07abf1;
        font-size: 40px;
    }

    .lightman_img_div {
        display: none;
    }

    .productive {
        font-size: 25px;
        width: 90%;
        margin-left: 5%;
    }

    .weutilize {
        font-size: 18px;
        width: 90%;
        margin-left: 5%;
        text-align: justify;
    }

    .comdiv_img_text {
        /* border: 1px solid red;  */
        display: block;
    }

    .FSNC_TS_card_main_div2 {
        /* border: 1px solid yellowgreen; */
        width: 100%;
        margin-left: 0%;
        height: auto;
        text-align: center;
        padding-top: 30px;
    }

    .FSNC_TS_small_card {
        /* border: 1px solid yellowgreen; */
        display: flex;
        flex-wrap: wrap;
        width: 90%;
        margin-left: 5%;
        margin-top: 50px;
    }

    .FSNC_TS_small_card_sub {
        /* border: 1px solid red; */
        width: 45%;
        margin-left: 5%;
        height: 50px;
        background-color: #07abf1;
        box-sizing: border-box;
        padding-top: 10px;
        color: white;
        font-size: 20px;
        margin-bottom: 30px;
    }

    .MLSC {
        margin-right: 0%;
    }


    /* fourth section */

    #FSNC_fourth_sec_main_div {
        /* border: 1px solid red; */
        width: 100%;
        height: auto;
        font-family: 'MoongladeDemoBold-jOzM';
        background-color: black;
        padding-top: 60px;
        position: relative;
        z-index: 5;
    }

    .FSNC_fourth_sec_subdiv1 {
        border-left: 4px solid #07abf1;
        padding-left: 20px;
        margin-left: 8%;
        /* border: 1px solid red; */
    }

    .FSNC_fourth_sec_subdiv1_head {
        color: #07abf1;
        font-size: 30px;
    }

    .FSNC_fourth_sec_subdiv1_text {
        color: white;
        font-size: 18px;
        word-spacing: 0px;
        letter-spacing: 0px;
    }


    .FSNC_fourth_sec_subdiv2 {
        /* border: 1px solid red;  */
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        margin-left: 0%;
        margin-top: 50px;
    }


    .FSNC_fourth_sec_carddiv {
        /* border: 1px solid red;  */
        width: 90%;
        margin-left: 5%;
        color: white;
        padding: 20px;
        margin-bottom: 30px;
        background-color: #282424;
        text-align: center;
        border-radius: 20px;
    }

    .fsclm {
        margin-right: 5%;
    }

    .emp {
        font-size: 20px;
    }

    .emp_text {
        font-size: 14px;
        text-align: justify;
    }

    /* fifth section */

    #FSNC_fifth_sec_main_div {
        /* border: 1px solid red; */
        width: 100%;
        height: auto;
        padding-top: 20px;
        position: relative;
        z-index: 5;
        background-image: none;
        padding-top: 50px;
    }

    .FSNC_fifth_sec_head_section {
        padding-left: 10px;
        margin-left: 8%;
        margin-bottom: 50px;
    }

    .FSNC_fifth_sec_heading {
        font-size: 35px;
    }

    .FSNC_fifth_sec_head_ST {
        font-size: 18px;
        word-spacing: 0px;
        letter-spacing: 0px;
        padding-right: 20px;
    }

    .card_img_adjust {
        /* border: 1px solid red; */
        display: block;
    }

    .add_lap_key_img {
        /* border: 1px solid yellow; */
        display: none;
    }

    .flip_card_main_div {
        /* border: 1px solid yellow; */
        display: flex;
        flex-wrap: wrap;
        width: 90%;
        margin-left: 5%;
        margin-top: 0px;
    }

    .card {
        width: 45%;
        margin-left: 5%;
        height: 250px;
        perspective: 1000px;
        background-color: none;
        margin-bottom: 20px;
    }

    .cardml {
        margin-right: 0%;
    }

    .cardpb {
        margin-top: 0px;
    }


    /* sixth section */

    #FSNC_sixth_sec_main_div {
        /* border: 1px solid red; */
        width: 100%;
        height: auto;
        padding-top: 20px;
        padding-bottom: 1px;
    }

    .FSNC_sixth_sec_three_card {
        /* border: 1px solid red; */
        width: 100%;
        margin-left: 0%;
        display: flex;
        flex-wrap: wrap;
     justify-content: center;
    }

    .FSNC_sixth_sec_three_card_sub {
        /* border: 1px solid yellow; */
        width: 45%;
        margin-left: 3%;
        background-color: white;
        margin-bottom: 20px;
    }

    .JAURI {
        margin-right: 0%;
    }

    .three_card_img {
        width: 100%;
    }

    .one_side_border {
        border-right: 3px solid black;
        font-size: 20px;
        padding-right: 10px;
        padding-left: 10px;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-right: 10px;
    }

    .unemp {
        text-align: justify;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 20px;
        font-size: 14px;
    }

    .FSNC_sixth_sec_main_head {
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 30px;
        word-spacing: 5px;
        letter-spacing: 1px;
    }

    .make_bold {
        font-size: 40px;
    }

    .BR1 {
        border-radius: 0PX 0PX 0PX 0PX;
    }

    .BR2 {
        border-radius: 0PX 0PX 0PX 0PX;
    }

    .Email_readmore {
        /* border: 1px solid red; */
        display: block;
        margin-top: 50px;
        margin-bottom: 50px;
        width: 50%;
        margin-left: 25%;
    }

    .enter_email {
        /* border: 1px solid yellow; */
        background-color: white;
        width: 100%;
        height: 50px;
        box-sizing: border-box;
        padding-left: 20px;
        padding-top: 10px;
        margin-bottom: 20px;
    }

    .readmore {
        /* border: 1px solid yellow; */
        width: 100%;
        padding-top: 12px;
        padding-left: 50px;
        background-color: white;
        border-radius: 0px 50px 0px 50px;
    }

    input {
        border: none;
        width: 80%;
    }

    .arbtn {
        /* border: 1px solid red; */
        border: none;
        font-size: 18px;
        background-color: white;
        color: black;
        margin-top: 515px;
    }


    /* right arrow animation */

    .vis_arrow_right {
        position: relative;
        transform: rotate(270deg);
        left: 15px;
        bottom: 180PX;
    }


    /* footer */
    .anything:hover {
        background-color: #3aa6ca;
        text-decoration: none;
    }

    .icon_div {
        display: flex;
    }

    .footer--logo:hover {
        text-decoration: none;
    }

    .footer--head {
        color: #3aa6ca;
    }

    .footer--links {
        color: white;
    }

    .footer--links:hover {
        color: #bf3030 !important;
        text-decoration: none;
    }

    .icon_div {
        display: flex;
        justify-content: center;
    }

    .Aline_text {
        box-sizing: border-box;
        text-align: center;
        padding-top: 70px;
    }

}

















/* footer */
.anything:hover {
    background-color: #3aa6ca;
    text-decoration: none;
}

.icon_div {
    display: flex;
}

.footer--logo:hover {
    text-decoration: none;
}

.footer--head {
    color: #3aa6ca;
}

.footer--links {
    color: white;
}

.footer--links:hover {
    color: #bf3030 !important;
    text-decoration: none;
}

.icon_div {
    display: flex;
    justify-content: center;
}

.Aline_text {
    text-align: center;
}


